<div>
    <h1>calcular distancia</h1>
    <form [formGroup]="formulario">
        <div>
            <label for="x1">x1</label>
            <input id="x1" formControlName="x1" type="text">
        </div>
        <div>
            <label for="y1">y1</label>
            <input id="y1" formControlName="y1" type="text">
        </div>
        <div>
            <label for="x2">x2</label>
            <input id="x2" formControlName="x2" type="text">
        </div>
        <div>
            <label for="y2">y2</label>
            <input id="y2" formControlName="y2" type="text">
        </div>
        <button type="button" class="btn btn-primary" (click)="calcular()">Calcular</button>
        <div >
            <h1>Resultado: {{ resultado }}</h1>
        </div>
    </form>
</div>